@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tourney:wght@700&display=swap');

/*Styling for the background and title of the game
that is the same all the time*/

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    position: relative;
    text-align: center;
    font-family: Tourney, sans-serif;
    font-size: 30px;
    color: #ff4da6;
    padding: 2%;
}

/*Styling for the start menu*/

#menu-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 230, 242, 0.4);
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    border-radius: 10px;
}
.how-to-btn, .start-game-btn, .about-btn, .back {
    text-align: center;
    padding: 2%;
}
.menu-btn {
    font-size: 28px;
    font-family: Tourney, sans-serif;
    padding: 2%;
    background-color: #00cc99;
    border: 1px solid black;
    border-radius: 10px;
    width: 23%;    
    margin: 1em auto;
    
}
.menu-btn:hover{
    background-color: #ff4da6;
    padding: 3%;
    font-size: 32px;
}
.menu-btn a{
    text-decoration: none;
    color: black;
    
}

/*Styling for the "How to play" section*/

#how-to-play{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
}
#how-to-play h3{
    font-family: Tourney, sans-serif;
    font-size: 28px;
    margin-top: 3rem;
    
}
#how-to-play p{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    padding: 1%;
    margin: 1rem;
}
.back-btn{
    font-size: 20px;
    font-family: Tourney, sans-serif;
    padding: 1%;
    background-color: #00cc99;
    border: 1px solid black;
    border-radius: 10px; 
    margin: 0 auto;
    margin-bottom: 1rem;
}
.back-btn:hover{
    background-color: #ff4da6;
    padding: 1%;
    font-size: 26px;
}

/* Styling for "start game" section */